@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
    font-family: "GilroyExtrabold";
    src: url("/alpha.digital/fonts/gilroy-extrabold.otf") format("opentype");
}

:root {
    --color-primary: #25bcff;
    --color-secondary: #e43a56;
    --color-gray: #454545;
    --color-light-gray: #909090;
    --color-white: #ffffff;
    --color-black: #101010;
}

* {
    font-family: "Roboto", "sans-serif";
    padding: 0;
    margin: 0;
}
